<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo">
    ///hola a todos
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BeHealthy"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="BE HEALTHY">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BajarPesoActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SubirPesoActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".EjercicioActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Ejercicios.MostrarejerActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".CaloriasActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Nutricion.DietaActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ImcActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Imc1Activity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ModuloActivity"
            android:theme="@style/AppTheme.Dark" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" />
        <activity android:name=".VozActivity" />
        <activity android:name=".Ejercicios.RegistrarEjercicioActivity" />
        <activity android:name=".Rutinas.RutinasActivity" />
        <activity android:name=".ImcCaActivity" />
        <activity android:name=".Nutricion.AlimentosActivity" />
        <activity android:name=".EjercicioBDActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".CreateEjercicioActivity" />
        <activity android:name=".CreateActivity" />
        <activity android:name="com.sourcey.materialloginexample.DetailsActivity" />
        <activity android:name="com.sourcey.materialloginexample.DetailsEjercicioActivity" />
        <activity android:name="com.sourcey.materialloginexample.recycler_layout" />
        <activity android:name=".Ejercicios.EjerciciosActivity" />
        <activity android:name=".DetalleEjercicio.DetalleEjerciciosActivity" />
        <activity android:name=".Alimentos.AlimentosActivity" />
        <activity android:name=".BuscarEjercicioActivity" />
        <activity android:name=".BuscarAlimentoActivity" />
        <activity android:name=".Alimentos.DetallesAlimentosActivity" />
        <activity android:name=".DetalleEjercicio.DetallesEjercicioBActivity" />
        <activity
            android:name=".Rutinas.NuevaRutinaActivity"
            android:label="@string/title_activity_nueva_rutina"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Rutinas.DatosRutinaActivity" />
        <activity android:name=".Rutinas.DatosRegistradosActivity" />
        <activity android:name=".Rutinas.DetallesRegistroActivity" />
        <activity android:name=".Rutinas.RegistroActivity" />
        <activity android:name=".Rutinas.RutinaDatosActivity"></activity>
    </application>

</manifest>